# Build Folders
bin/
obj/

# Rider-specific
.idea/

# User-specific files
*.user
*.suo
.vs/

# Logs
*.log

# Dependencies
*.nuget/
packages/

# Configuration Secrets
appsettings.Development.json
appsettings.*.json

# Publish Output
publish/

# Temporary Files
*.tmp
*.temp
*.cache

# Lock files (older projects)
project.lock.json

