 
@{
    Layout =  "_Layout";
    ViewData["Title"] = "About Us";
}

<!DOCTYPE html>

<html>
<head>
    <title>About US</title>
    <link rel="stylesheet" href="~/css/About.css"/>
</head>
<body>
<div class="ab">
     <p class="p"> 
       
        Welcome to  Gezmo PC Store, your trusted destination for high-quality PC hardware and components.  <br />
        We are passionate about empowering technology enthusiasts, gamers,  <br />
        and professionals with cutting-edge solutions to build, upgrade, and optimize their systems. <br />
   
        At Gezmo PC Store, we pride ourselves on offering a diverse selection of products, including motherboards,  <br />
        processors, graphics cards, memory, storage solutions, cooling systems, and much more. <br /> 
        Our catalog features top-tier brands known for performance, reliability, and innovation. <br />
    
        What sets us apart is our commitment to customer satisfaction.  <br />
        Whether you’re a seasoned expert or a first-time builder, our knowledgeable team is here  <br />
        to provide guidance, answer questions, and help you find the perfect components to meet your needs and budget.
     
    <br />
    
        From gaming rigs to professional workstations,  <br />
        Gezmo PC Store is your partner in creating a PC tailored to your vision. Explore our store and experience a seamless
        <br />
        blend of quality, value, and expertise.
        <br />
        Gezmo PC Store – Building the Future, One Component at a Time.
     </p> 
</div>
</body>
</html>