.sidenav {
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#menuButton {
    font-size: 30px;
    cursor: pointer;
    background-color: white;
    position: fixed; /* Ensures it stays in the same position when scrolling */
    top: 50%;       /* Adjust the spacing from the top */
    left: 10px;      /* Adjust the spacing from the left */
    padding: 5px;    /* Adds some padding around the icon */
    border-radius: 5px; /* Optional: rounds the corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow */
}